<!DOCTYPE html>
<html lang="en">

<head>
<style type="text/css">
table.gridtable {
	font-family: verdana,arial,sans-serif;
	font-size:11px;
	color:#333333;
	border-width: 1px;
	border-color: #666666;
	border-collapse: collapse;
}
table.gridtable th {
	border-width: 1px;
	padding: 8px;
	border-style: solid;
	border-color: #666666;
	background-color: #dedede;
}
table.gridtable td {
	border-width: 1px;
	padding: 8px;
	border-style: solid;
	border-color: #666666;
	background-color: #ffffff;
}
</style>
</head>


<body>
    <h1>Choose the name of a company</h1>
    <form action="." method="POST">
        <select name="option" width="300px">
			{% for o in option_list %}
				<option name="{{ o }}" SELECTED>{{ o }}</option>
			{% endfor %}
		</select>
        <input type="submit" name="my-form" value="Select">
    </form>
    {% if sentiments %}
    	<div id="table">
			<h4>RESULTS TABLE</h4>
			<table class="gridtable" style="width:100%">
				<tr>
					<th>Company Name</th>
					<th>Sentiment</th> 
					<th>Revenue</th>
					<th>Number of Employees</th>
					<th>Branches of interest</th>
				</tr>
				
				{% for idx in sentiments %}
				<tr>
					<td>{{ company_names[loop.index0] }}</td>
					<td>{{ sentiments[loop.index0] }}</td>
					<td>{{ revenues[loop.index0] }}</td>
					<td>{{ employees[loop.index0] }}</td>
					<td>{{ branches[loop.index0] }}</td>
				</tr>
				{% endfor %}
			
			</table>
		</div>
		
		<div style="display: inline-block; vertical-align: top; text-align: center;">
			<h3>SCATTER PLOT SENTIMENT-REVENUES</h3>
			<img src="data:image/png;base64 ,{{ plot_sent_rev }}">
		</div>
		
		<div style="display: inline-block; vertical-align: top; text-align: center;">	
			<h3>Correlation Matrix Sentiment-Number of Employees-Revenues</h3>
			<p>{{ sent_empl_rev_mx[0] }}</p>
			<p>{{ sent_empl_rev_mx[1] }}</p>
			<p>{{ sent_empl_rev_mx[2] }}</p>

		</div>		
	{% endif %}
	{% if sentiments_bis %}
		<h3>Companies without information</h3>
		<table class="gridtable">
			<tr>
				<th>Company Name</th>
				<th>Sentiment</th>
			</tr>
			{% for idx in sentiments_bis %}
				<tr>
					<td>{{ company_names_bis[loop.index0] }}</td>
					<td>{{ sentiments_bis[loop.index0] }}</td>
				</tr>
			{% endfor %}
	{% endif %}
</body>
</html>