<!DOCTYPE html>
<html lang="en">

<head>
<style type="text/css">
table.gridtable {
	font-family: verdana,arial,sans-serif;
	font-size:11px;
	color:#333333;
	border-width: 1px;
	border-color: #666666;
	border-collapse: collapse;
}
table.gridtable th {
	border-width: 1px;
	padding: 8px;
	border-style: solid;
	border-color: #666666;
	background-color: #dedede;
}
table.gridtable td {
	border-width: 1px;
	padding: 8px;
	border-style: solid;
	border-color: #666666;
	background-color: #ffffff;
}
</style>
</head>


<body>
    <h1>Enter the name of the Company</h1>
    <form action="." method="POST">
        <input type="text" name="text">
        <input type="submit" name="my-form" value="Send">
    </form>
    {% if sentiments %}
    	<div id="table">
   		<h4>RESULTS TABLE</h4>
   		<table class="gridtable" style="width:100%">
  			<tr>
    			<th>Company Name</th>
    			<th>Sentiment</th> 
    			<th>Revenue</th>
    			<th>Year of foundation</th>
    			<th>Foundation place</th>
    			<th>Number of Employees</th>
    			<th>Branches of interest</th>
  			</tr>
  			
    		{% for idx in sentiments %}
    		<tr>
    			<td>{{ company_names[loop.index0] }}</td>
    			<td>{{ sentiments[loop.index0] }}</td>
    			<td>{{ revenues[loop.index0] }}</td>
    			<td>{{ foundingYears[loop.index0] }}</td>
    			<td>{{ foundationPlaces[loop.index0] }}</td>
    			<td>{{ employees[loop.index0] }}</td>
    			<td>{{ branches[loop.index0] }}</td>
    		</tr>
    		{% endfor %}
    	
		</table>
		</div>
			
		<div align="center">
			<h2>SCATTER PLOT SENTIMENT-REVENUES</h4>
			<img src="data:image/png;base64 ,{{ plot_sent_rev }}">
		</div>
		<div>
			<h5>Correlation Matrix Sentiment-Number of Employees</h5>
			{% for idx in sentiments %}
				<p>{{ sent_empl_mx[loop.index0] }}</p>
			{% endfor %}
		</div>
		<div>
			<h5>Correlation Matrix Sentiment-Revenues</h5>
			{% for idx in sentiments %}
				<p>{{ sent_rev_mx[loop.index0] }}</p>
			{% endfor %}
		</div>
		<div>
			<h5>Correlation Matrix Sentiment-Number of Employees-Revenues</h5>
			{% for idx in sentiments %}
				<p>{{ sent_empl_rev_mx[loop.index0] }}</p>
			{% endfor %}
		</div>
   	{% endif %}

</body>
</html>